#container {
  width: 75%;
  background: transparent;
}
#intro,
#resume,
#aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: justify;
}
#homeArrow {
  align-self: flex-end;
  position: sticky;
  overflow: hidden;
  top: 86%;
  right: 23%;
  display: block;
  opacity: 0.5;
}
#intro .intro {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}
#resume {
  grid-area: resume;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 1.35rem;
}
#contact {
  grid-area: contact;
  padding-top: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 425px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  h1 {
    font-size: 1em;
  }
  #navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }
  #navbar a {
    font-size: 1em;
  }
  .intro p,
  p.aboutme,
  h3,
  h2,
  #resume {
    font-size: 1em;
  }
  .resume {
    padding: 20px;
  }
  ul.bootcamp {
    font-size: 1em;
  }
  .contact {
    width: 100%;
    justify-content: center;
  }
  .contact ul {
    justify-items: center;
  }
  .contact li a {
    font-size: 75px;
  }
  .aboutme {
    padding-top: 30px;
    font-size: 15px;
    height: 100%;
  }
  .aboutme h3 {
    font-size: 20px;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .mobile-Arrow {
    right: 1% !important;
    top: 90% !important;
    opacity: 1 !important;
  }
  .homeArrow a {
    font-size: 2em;
  }
/*   .home {
    display: none;
  }
 */}