body{
    background: #b9b9b9;
}
.page{
    width: 95vh;
    display: flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 2em;
}
div.intro{
    display: none;
}
.employment{
    font-size: .75em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.employment.usmc{
    font-size: .9em;
    font-weight: 700;
}
.extra{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.extra>ul>li:nth-last-child(1){
    display: none;
}
.extra h4{
    font-size: .85em;
    font-weight: 600;
}
.extra h4,
.extra>ul{
    display: none;
}
.acm{
    font-size: .75em;
}
.aboutme-container h5{
    display: none;
}
.aboutme{
    display:none;
}



