*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #87d0bd, #d9c29b);
  background-size: 400% 400%;
  animation: bgcolor 30s ease infinite;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 800;
}

.container {
  background: transparent;
  width: 75%;
}

.intro,
.resume,
.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: justify;
}

ul {
  list-style: none;
}

header {
  position: relative;
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: url(images/self.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header h1,
header h2 {
  color: #fff;
  text-shadow: black 4px 3px 0px;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 10vh;
}

header h2 {
  font-size: 6vh;
}
.sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 56.25%;
}

.sticky + .container {
  padding-top: 60px;
}

nav {
  overflow: hidden;
  grid-area: nav;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  background-color: transparent;
}
nav a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 3vh;
  text-transform: uppercase;
  transition: 0.3s;
}

nav a::before,
nav a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

nav a::before {
  margin-right: 10px;
  content: "[";
  transform: translateX(20px);
}

nav a::after {
  margin-left: 10px;
  content: "]";
  transform: translateX(-20px);
}

nav a:hover::before,
nav a:hover::after,
nav a:focus::before,
nav a:focus::after {
  opacity: 1;
  transform: translateX(0px);
}

section.intro {
  grid-area: intro;
  display: flex;
  justify-content: center;
  height: 100vh;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
}
h3.intro {
  display: none;
}
p.intro {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
}

.resume {
  grid-area: resume;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 1.35rem;
}

.skills {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}
.skills li::before,
.skills li::after {
  content: "–";
}

.skills li {
  background-color: transparent;
  text-transform: uppercase;
}
.education {
  padding-top: 20px;
}
.ed {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.bootcamp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.2rem;
}
article {
  grid-area: aboutme;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: justify;
  height: 100vh;
}
.aboutme h3 {
  font-size: 2rem;
}
.aboutme p {
  font-size: 1.25em;
}

#contact {
  grid-area: contact;
  padding-top: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}
.email {
  grid-area: email;
}
.twitter {
  grid-area: twitter;
}
.linkedin {
  grid-area: linkedin;
}
.github {
  grid-area: github;
}
.devto {
  grid-area: devto;
}

ul.contacts {
  width: 100%;
  display: grid;
  grid-template-areas:
    ". email . twitter ."
    ". github . linkedin ."
    ".  . devto . .";

  justify-items: center;
  align-items: center;
}
.contact h3 {
  display: none;
}

.contact li a {
  padding: 1px;
  margin-top: 2px;
  color: white;
  font-size: 8rem;
  right: 25%;
}

.contact > li > a:hover {
  color: #596557;
}

/* Mobile Styles */

@media only screen and (max-width: 425px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  nav {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    font-size: 1px;
    width: 100%;
  }
  .sticky {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .contact {
    width: 100%;
    justify-content: center;
  }
  .contact ul {
    justify-items: center;
  }
  .container {
    width: 100%;
  }
}

/* Tablet Styles */
/* @media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  nav {
    width: 100%;
    justify-content: space-between;
    font-size: 0em;
  }
}

 */@keyframes bgcolor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
